<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List User</title>
</head>
<body>
<style>
    table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px 15px;
        text-align: center;
    }

    table {
        width: 100%;
    }

    .btn {
        padding:5px 15px ;
    }

    .btn-edit {
        background: yellow;
    }

    .btn-delete {
        margin-left: 15px;
        background: #00ffdc;
    }
</style>
<table>
    <tr>
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>

    <% for (let i = 0 ; i < data.length ; i++) { %>
        <tr>
            <td><%= data[i].email %></td>
            <td><%= data[i].firstName %></td>
            <td><%= data[i].lastName %></td>
            <td><%= data[i].address %></td>
            <td><%= data[i].gender %></td>
            <td>
                <a href="/edit-crud?id=<%= data[i].id %>" type="button" class="btn btn-edit">Edit</a>
                <a href="/delete-crud?id=<%= data[i].id %>"type="button" class="btn btn-delete">Delete</a>
            </td>
        </tr>
    <% } %>
</table>
</body>
</html>